
@{
    ViewBag.Title = "Logon";
}

<div id="loginArea">
    <table>
        <tr>
            <td>User Id</td>
            <td><input type="text" class="form-control" id="txtUserid" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" class="form-control" id="txtPassword"/></td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-primary" id="loginBtn">Login</button></td>
        </tr>
    </table>
</div>

